* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 0.25rem;
    /*
    tartalom+padding+margin+border = x szélessége px (250px)
    250px + 6px
    250px - 6px
    */

}

html {
    border: none;
}

body {
    max-width: 800px;
    margin: auto;
    border: none;
    display: grid;
    gap: 8px;
}

div {
    border: none;
}

header,
footer {
    background-color: dodgerblue;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    padding: 3rem;
    margin: auto;
}

footer {
    font-size: 1rem;
}

nav {
    background-color: blue;
    /* border: 1rem;
    border-color: blue; */
    /* border: 2px solid darkblue;
    border-radius: 0.25rem; */
    /* max-width: 100vw; */
    width: 100%;
    /* text-align: center; */
    /* height: 8rem; */
    padding: 2rem;
    margin: auto;
}

a {
    color: wheat;
    font-size: 1.5rem;
    /* padding: 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;
}

a:hover {
    background-color: dodgerblue;
    /* amikor az egér fölé viszed */
}

a:active {
    background-color: dodgerblue;
    /* amikor rákattintasz */
}

img {
    /* size-adjust: auto; */

    /* width: 100%; */
    width: 100%;
    max-height: 250px;
    height: 100%;
    /* max-height: 250px; */
    /* border: 2px solid darkblue; */
    object-fit: cover;
    /*hogy ne legyenek torzítottak a képek*/
}

.grid {
    /* min-height: 100vh; 100%-a a viewport height-nak */

    display: grid;
    /*oszlopok+sorok*/
    /*1 oszlop*/
    /*Y sor=gyerekek száma*/
    /**/

    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, auto);
    /* grid-template-rows: auto auto auto auto ; */
    grid-template-rows: repeat(3, auto);
    gap: 6px;
    height: 100%;

}

@media screen and (max-width: 600px) {
    nav{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
    }
    /* div {
        grid-template-columns: repeat(2, 1fr);
    } */

    .grid {
        /* display: block; */
        /*ezzel a sorral kapcsoljuk ki 600px alatt a grid-et, mert a div block szintű*/
        grid-template-columns: repeat(2, 1fr);
    }
}